body{
    background-color: tomato;
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
}
.first{
    background-color:wheat;
    width: 500px;
    height: 500px;
    border: black solid;
    justify-content: center;
}
.second{
    background-color:teal;
    margin-top: 50px;
}
.long{
   width: 300px;
   height: 100px;
   margin-left: 100px;
   border: white dashed;
}
.short{
    width: 100px;
    height: 100px;
    margin-left: 200px;
    border: white solid;
}